
@{
    Layout = "_LoginLayout";
} 
<h1>Session Expired Due to Idle time Please Relogin With Your Credentials... <a asp-controller="UserLogin" asp-action="Login" asp-route-returnurl="/">Login</a></h1>
