  @model  string

   
    <html xmlns="http://www.w3.org/1999/xhtml">

    <body >
        <div class="card">
            <div class="card-body">
                <center><h1 style="color:1565C0;">@(string.IsNullOrEmpty(Model)? "Document not  Avaliable" :Model) </h1></center>
               
            </div>
        </div>
        

    </body>
    </html>